<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fiuady.compustore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        <activity
            android:name=".android.compustore.MainActivity"
            android:theme="@style/AppThemeNoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.compustore.CategoriesActivity"
            android:label="@string/categories_name" />
        <activity
            android:name=".android.compustore.ProductsActivity"
            android:label="@string/products_name" />
        <activity
            android:name=".android.compustore.AssembliesActivity"
            android:label="@string/assemblies_name" />
        <activity
            android:name=".android.compustore.CustomersActivity"
            android:label="@string/clients_name" />
        <activity
            android:name=".android.compustore.OrdersActivity"
            android:label="@string/orders_name" />
        <activity
            android:name=".android.compustore.LogsActivity"
            android:label="@string/logs_name" />
        <activity
            android:name=".android.compustore.AssemblyInsertActivity"
            android:label="@string/title_activity_assembly_insert" />
        <!-- //android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->
        <activity android:name=".android.compustore.AssemblySearchProductActivity" />
        <activity android:name=".android.compustore.AssemblyModifyActivity" />
        <activity android:name=".android.compustore.CustomersInsertActivity" />
        <activity android:name=".android.compustore.CustomersModifyActivity" />
        <activity android:name=".android.compustore.OrdersInsertActivity" />
        <activity android:name=".android.compustore.OrdersModifyActivity" />
        <activity android:name=".android.compustore.OrderSearchAssemblyActivity" />
        <activity android:name=".android.compustore.OrderSimulatorActivity" />
        <activity android:name=".android.compustore.SalesSummaryActivity"></activity>
    </application>

</manifest>